div{
background-color: chartreuse;
border: 10px solid black;
border-radius: 6px;
padding: 10px;
ol{
    color: darkorchid;
}
}
h2{
    background-color: aquamarine;
    color: brown;

    border: 6px dotted black;
}
img{
 height: 300px;
 border: 10px solid red;
 margin: 10px;
}